* {
    font-family: 'Open Sans', sans-serif;
}
body {
    margin: 0px;
}
/* banner part */


.banner-section{
    background-image: url(images/banner/banner3.png);
    background-size: cover;
    height: 600px;
    background-position:center;


}
.banner-head{
    font-weight:1200px;
   font-size:35px;
   margin-bottom:0;
   margin-top: 0;
   color: aliceblue;
   padding-top: 230px;
  
  
}
.banner-dis{
    font-weight: 190;
 font-size: 10px;
 color: rgb(237, 239, 240);
 margin-top: 10px;
 padding-top: 10px;
}
.btn{
    font-size: 15px;
    font-weight: bold;
    color:rgb(4, 4, 151);
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
  border: none;
}
.banner-section{
    padding-left: 600px;
    padding-right: 150px;  
   
}
/* .failertitle{
    font-size:30px;
    font-weight: 30px;
    margin: 100px;

}
.failer{
    display: flex;
    margin-top: 90px;
   
/*LAST TRY MAIN PART */

.failer-head{
    font-size: 30PX;
    font-weight: 300;
    font-weight:bold;
}
.sort-title{
    font-size: 10px;
    font-weight:550;
    padding-right:660px;
   color: rgb(29, 28, 28);

}
.color{
    color: rgb(122, 232, 11);
}

.flexi{
    display:flex;
   
    
}
.head-plan{
    text-align: center;
}
.plan-item{
    display: flex;
    justify-content: space-around;
    margin: 80px 300px;

}
.plan-icon{
    text-align: center;
}
.idea{
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}