* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0px;
}

/* banner part */


.banner-section {
    background-image: url(images/banner/banner3.png);
    background-size: cover;
    height: 600px;
    background-position: center;


}

.banner-head {
    font-weight: 1200px;
    font-size: 35px;
    margin-bottom: 0;
    margin-top: 0;
    color: aliceblue;
    padding-top: 230px;


}

.banner-dis {
    font-weight: 190;
    font-size: 10px;
    color: rgb(237, 239, 240);
    margin-top: 10px;
    padding-top: 10px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
    color: rgb(4, 4, 151);
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    border: none;
}

.banner-section {
    padding-left: 600px;
    padding-right: 150px;

}

/* .failertitle{
    font-size:30px;
    font-weight: 30px;
    margin: 100px;

}
.failer{
    display: flex;
    margin-top: 90px;
   
/*LAST TRY MAIN PART */

.failer-head {
    font-size: 23PX;
    font-weight:100;
    padding-left: 10px;
   padding-right:10px ;
   padding-top: 130px;
   margin-left: 10px;
    font-weight: bold;
}

.sort-title {
    font-size: 10px;
    font-weight: 250;
    padding-right:70px;
    padding-top: 300px;
    color: rgb(29, 28, 28);

}

.color {
    color: rgb(122, 232, 11);
}

.flexi {
    display: flex;


}


.head-plan {
    text-align: center;
    margin-bottom: 80px;
}

.plan-item {
    display: flex;
    justify-content: space-around;


}

.plan-icon {
    text-align: center;





}

.idea {
    font-weight: 500;
    font-size: 20px;
    color: #151414;


}

.spann {
    font-weight: 300;
    font-size: 13px;
    color: black;

}

.pic {
    background-image: url(images/watch.png);
    background-image:linear-gradient();
    height: 210px;
    background-repeat: no-repeat;
    padding-left: 70px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 80px;
    margin-top: 90px;
}


.possitive {
    padding-top: 85px;
    color: azure;
    margin-bottom: 7px;

}

.btnsec {
    font-size: 10px;
    font-weight: 1000;
    color: rgb(4, 4, 151);
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    border: none;


}

.footer-head{
    font-weight: 600;
    font-size: 40px;
    color: rgb(227, 230, 232);
}
.footer-dis{
    font-weight: 400px;
    font-size:10px ;
    color: rgb(227, 230, 232);
  
}
.subscribe-part{
    font-weight: 250px;
    font-size:12px;
    color:  rgb(227, 230, 232);
}
.footer-part{
    display: flex;
   background-color: black;
   height: 550px;
}
.pubg{
    margin-top: 100px;
    margin-right:200;
    padding-right: 160px;
    padding-left: 150px;
    color: rgb(227, 230, 232);
}
.sun{
    margin-top:100px;
    margin-left:180px;
    padding-right:180px;
    color: rgb(227, 230, 232);
}
.img{
    padding-top: 40px;
}
input{
    height:30px;
    width:150px;
  
}


